/** @format */

#root {
    height: 100svh;
    width: 100svw;
    overscroll-behavior: none;
}

* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    color: white;
    font-family: 'Monogram', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;

    display: grid;
    place-items: center;
    color: white;
    font-family: 'Monogram', sans-serif;
}
